
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.bg {
  background-image: linear-gradient(
    to left bottom,
    #6edcd9,
    #46e5c5,
    #49eba0,
    #74ee6a,
    #a8eb12
  );
  border-radius: 0px 0px 200px 20px;
  height: 70vh;
  width: 98.9vw;
  position: absolute;
  z-index: -100;
}
@media only screen and (max-width: 1030px) {
  .bg {
    height: 65vh;
    border-radius: 0px 0px 50px 20px;
  }
}
